body {
    background-color: rgb(46, 88, 136);

}

/* TABELLA DI GIOCO */
#tabella {
    display: flex;
    flex-wrap: wrap;

    margin: 10rem;
    height: 50vh;

}

/*******************
*     CELLE
********************/

/* DEFAULT livello FACILE */
.square {
    width: calc(100% / 10);
    height: calc(100% / 10);

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    border: 1px solid rgb(93, 165, 212);

    cursor: crosshair;
}

/* livello MEDIO */
.square.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

/* livello DIFFICILE */
.square.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

/* CLICK SULLA CELLA */
.active {
    background-color: lightgreen;
    color: #000;
}